.sidebar {
  height: 100vh;
  width: 20em;
  border-right: 1px solid var(--ff-color-light-gray);

  &__header {
    height: 6em;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 1em;
    border-bottom: 1px solid var(--ff-color-light-gray);

    &__title {
      font-weight: bold;
      font-size: 1.5em;

      &:hover {
        color: var(--ff-bgcolor-yellow);
      }
    }

    &__search {
      height: 3em;
      display: flex;
      gap: 1em;
      align-items: center;
    }
  }

}
