.row {
  white-space: nowrap;
  cursor: pointer;
}

.node {
  position: relative;
  border-radius: 0.5em;
  display: flex;
  align-items: center;
  margin: 0 1em;
  height: 100%;
}

.node:global(.willReceiveDrop) {
  background: #bbb;
}

.node:global(.isSelected) {
  @apply bg-[var(--color-gray-200)]/50;
  border-radius: 0;
}

.node:global(.isSelectedStart) {
  border-radius: 0.5em 0.5em 0 0 ;
}

.node:global(.isSelectedEnd) {
  border-radius: 0 0  0.5em 0.5em;
}

.node:global(.isSelectedStart.isSelectedEnd) {
  border-radius: 0.5em;
}

.tree:hover .indentLines {
  display: flex;
}

.indentLines {
  --indent-size: 1em;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  display: none;
  align-items: flex-start;
  height: 100%;
}

.indentLines > div {
  height: 100%;
  padding-left: 0.5em;
  border-right: 1px solid #ccc;
  margin-right: calc(var(--indent-size) - 0.5em - 1px);
}

.row:focus {
  outline: none;
}

.row:focus .node {
  @apply bg-[var(--color-brand)]/50
}

.row:focus .node:global(.isSelected) {
  @apply bg-[var(--color-brand)]/50;
}

.icon {
  margin: 0  0.5em;
  flex-shrink: 0;
  fill: var(--color-gray-950);
}

.text {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

.node:global(.isInternal) {
  cursor: pointer;
}

.arrow {
  width: 1em;
  display: flex;
}
