@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --font-inter: "Inter", var(--font-sans);

  --color-brand: #fdc300;

  /* Define colors in theme variables (these are overwritten in themes) */
  --color-hover: inherit;
  --color-selected: inherit;
  --color-border: inherit;
  --color-backdrop: inherit;
  --color-background: inherit;
  --color-foreground: inherit;
  --color-foreground-muted: inherit;
  --color-foreground-active: inherit;
}

@layer base {
  [data-theme="light"] {
    --color-hover: var(--color-neutral-100);
    --color-selected: var(--color-neutral-200);
    --color-border: var(--color-neutral-300);
    --color-backdrop: var(--color-neutral-50);
    --color-background: var(--color-white);
    --color-foreground: var(--color-neutral-950);
    --color-foreground-muted: var(--color-neutral-600);
    --color-foreground-active: var(--color-brand);

    /* Node styling */
    --type-pipe: #68D250;
    --type-listener: #D250BF;
    --type-receiver: #D250BF;
    --type-sender: #30CCAF;
    --type-validator: #3079CC;
    --type-wrapper: #4A30CC;
    --type-job: #fd7200;
    --type-exit: #E84E4E;
    --type-other: #FDC300;
    --type-sticky-note: #facc15;
  }

  [data-theme="dark"] {
    --color-hover: var(--color-neutral-800);
    --color-selected: var(--color-neutral-700);
    --color-border: var(--color-neutral-600); /* 950 also looks good, but less for inputs and stuff */
    --color-backdrop: var(--color-neutral-950);
    --color-background: var(--color-neutral-900);
    --color-foreground: var(--color-neutral-100);
    --color-foreground-muted: var(--color-neutral-400);
    --color-foreground-active: var(--color-brand);

    /* Node styling */
    --type-pipe: #136502;
    --type-listener: #853279;
    --type-receiver: #7e3072;
    --type-sender: #1c7c6a;
    --type-validator: #3079CC;
    --type-wrapper: #4A30CC;
    --type-job: #9a4602;
    --type-exit: #882e2e;
    --type-other: #9c7800;
    --type-sticky-note: #986804;
  }

}

html,
body {
  @apply bg-background;
  @apply select-none;
  @apply font-inter;
  @apply text-foreground;
  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

.monaco-editor .highlight-line {
  @apply bg-yellow-200/30 border-l-4 border-yellow-400 transition-colors;
}

:root {
  /* Allotment Styling */
  --focus-border: var(--color-brand);
  --separator-border: var(--color-border);
}
