@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  /*@apply bg-white dark:bg-gray-950;*/
	@apply bg-white;

  /*@media (prefers-color-scheme: dark) {*/
	/*color-scheme: dark;*/
  /*}*/
}

:root {
  --color-brand: #fdc300;
  --focus-border: var(--color-brand);
  --separator-border: var(--color-gray-200);
}
