@import "tailwindcss";

@theme {
  --font-inter: "Inter", var(--font-sans);
  --color-brand: #fdc300;
}

html,
body {
  /*@apply bg-white dark:bg-gray-950;*/
	@apply bg-white;
  @apply select-none;
  @apply font-inter;
  @apply text-gray-950;

  /*@media (prefers-color-scheme: dark) {*/
	/*color-scheme: dark;*/
  /*}*/
}

:root {
  /* Allotment Styling */
  --focus-border: var(--color-brand);
  --separator-border: var(--color-gray-200);
  /* Node Styling */
  --type-pipe: #68D250;
  --type-listener: #D250BF;
  --type-receiver: #D250BF;
  --type-sender: #30CCAF;
  --type-validator: #3079CC;
  --type-wrapper: #4A30CC;
  --type-job: #E0DE54;
  --type-exit: #E84E4E;
  --type-other: #FDC300;
}
