<div class="sidebar">
  <div class="sidebar__header">
    <div class="sidebar__header__row">
      <div class="sidebar__header__title">
        <app-icon name="Folder" />
        Structure
      </div>
      <div class="sidebar__header__actions">
        <div class="sidebar__header__actions__item svg-icon-hover-parent">
          <app-icon name="Folder" />
        </div>
      </div>
      <!--        <div class="sidebar__header__actions__item svg-icon-hover-parent">-->
      <!--          <app-icon name="Delete" />-->
      <!--        </div>-->
      <!--        <div class="sidebar__header__actions__item svg-icon-hover-parent">-->
      <!--          <app-icon name="More" />-->
      <!--        </div>-->
    </div>

    <!--    <div class="sidebar__header__switcher">-->
    <!--      <div class="sidebar__header__switcher__item svg-icon-hover-parent"-->
    <!--           (click)="toolSelected = 'palette'"-->
    <!--           [ngClass]="{ 'sidebar__header__switcher__item&#45;&#45;active': toolSelected == 'palette' }">-->
    <!--        <app-icon name="Palette Round" />-->
    <!--        Palette-->
    <!--      </div>-->
    <!--      <div class="sidebar__header__switcher__item svg-icon-hover-parent"-->
    <!--           (click)="toolSelected = 'structure'"-->
    <!--           [ngClass]="{ 'sidebar__header__switcher__item&#45;&#45;active': toolSelected == 'structure' }">-->
    <!--        <app-icon name="Folder" />-->
    <!--        Structure-->
    <!--      </div>-->
    <!--    </div>-->
    <div class="sidebar__header__row">
      <ff-search slim />
      <div class="sidebar__header__search__filter svg-icon-hover-parent">
        <app-icon name="Filter" />
      </div>
    </div>
  </div>
  <!--  @if (toolSelected == 'palette') {-->
  <!--    <app-help />-->
  <!--  } @else if (toolSelected == 'structure') {-->
  <!--    <app-settings />-->
  <!--  }-->
  <div class="sidebar__content">
    @for (file of files; track file) {
      <li>file</li>
    }
  </div>
</div>
