div[content] {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.canvas {
  flex-grow: 1;
  background-image: radial-gradient(2px, transparent 0, var(--ff-bgcolor-gray), var(--ff-color-light));
  background-size: 40px 40px;
  background-position: -19px -19px;
}
