<as-split restrictMove="true" gutterSize="1" [useTransition]="true" (transitionEnd)="resizeWindow()">
  <div *asSplitGutter="let left = first; let right = last; " class="gutter">
    <div class="gutter__line"></div>
    <div class="gutter__toggle svg-icon-hover-parent"
         [ngClass]="{'sidebar-toggle--collapsed': true}"
         (click)="left ? toggleLeftSidebar() : toggleRightSidebar()"
    >
      @if (left && !leftCollapsed || right && rightCollapsed) {
        <app-icon name="Alt Arrow Left" theme="light" />
      }
      @if (right && !rightCollapsed || left && leftCollapsed) {
        <app-icon name="Alt Arrow Right" theme="light" />
      }
    </div>
  </div>
  <as-split-area [size]="leftCollapsed ? 0 : 20" minSize="20" maxSize="40" [lockSize]="leftCollapsed">
    <ng-content select="[leftSidebar]"></ng-content>
  </as-split-area>
  <as-split-area [size]="'*'">
    <ng-content select="[content]"></ng-content>
  </as-split-area>
  <as-split-area [size]="rightCollapsed ? 0 : 20" minSize="20" maxSize="90" [lockSize]="rightCollapsed">
    <ng-content select="[rightSidebar]"></ng-content>
  </as-split-area
  >
</as-split>
