li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0.5em;

  text-decoration: none;
  color: var(--ff-color-dark);
  border-right: 1px solid var(--ff-color-light-gray);
  text-align: center;

  &:hover {
    border-right: 1px solid var(--ff-bgcolor-yellow);
    color: var(--ff-bgcolor-yellow);
  }

  &--active {
    border-right: 1px solid var(--ff-color-dark);
    font-weight: var(--boldish);
  }
}
