<nav class="navigation">
  <div class="navigation__logo">
    <div class="navigation__logo__image">
      <img alt="logo" height="48" ngSrc="/images/ff!-icon.svg" width="48" />
    </div>
    <div class="navigation__logo__label">Flow</div>
  </div>
  <ul class="navigation__group">
    <app-navigation-item icon="Widget" label="Projects" route="/projects" />
    <app-navigation-item icon="Ruler Cross Pen" label="Builder" route="/builder" />
    <app-navigation-item icon="Code" label="Editor" route="/editor" />
  </ul>
  <div class="navigation__spacer"></div>
  <div class="navigation__group">
    <app-navigation-item icon="Help" label="Help" route="/help" />
    <app-navigation-item icon="Settings" label="Settings" route="/settings" />
  </div>
</nav>
